.customNextBtn, .customPrevBtn {
    height: 150px;
}


.card {
    width: 300px;
    height: 250px;
}


.card-img {
    width: 300px;
    height: 170px;

}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 130%;
}


.owl-carousel.owl-drag .owl-item{
    display: flex;
    justify-content: center;

}

.ContainercarouselCompetence {
    width:85%;

}
.MainContainercarouselCompetence{
    background-color: rgba(105, 99, 92, 0.637);
    display: flex;
    width: 95%;
    height: fit-content;
    margin: auto;
    border-style: solid;
    border-radius: 50px;
    align-items: center;
    justify-content: space-around;
    padding-block-start: 3px;
    object-fit: contain;
}


.owl-dots{
/* background-color: rgb(202, 63, 7); */
display: flex;
justify-content: center;

/* margin: 5px;
border-style: solid;
border-width: 2px;
border-radius: 5px; */
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background-color: rgb(168, 79, 44);
    width: 20px;
    height: 10px;
    margin: 5px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    }

    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot.active{
        background-color: rgb(63, 44, 168);
        width: 20px;
        height: 10px;
        margin: 5px;
        border-style: solid;
        border-width: 2px;
        border-radius: 10px;
        }

.btn-moreInfo-competence{
    background-color:  rgba(151, 191, 17, 0.85);
    margin: 30px 30px 0 30px;
    height: 60px;
    border-radius: 0px;
}

/* .btn-moreInfo-competence:hover{
    background-color: rgba(9, 207, 19, 0.85);
} */
