.bg-image {
  background-image: url('../img/utilisables/ENSG_hall.jpg');
  background-size:inherit;
  height:85vh;
}
.mask{
  background-color: rgba(0, 0, 0, 0.6);
}

#logo_tout_blanc{
  height:8vh;padding: 2%;
}

#defilementAccueil{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  margin-top: 200px;
}